/*--------------------------------------------------------------
# form
--------------------------------------------------------------*/
// .btn-file {
//     position: relative;
//     overflow: hidden;
// }
// .btn-file input[type=file] {
//     position: absolute;
//     top: 0;
//     right: 0;
//     min-width: 100%;
//     min-height: 100%;
//     font-size: 100px;
//     text-align: right;
//     filter: alpha(opacity=0);
//     opacity: 0;
//     outline: none;
//     background: white;
//     cursor: inherit;
//     display: block;
// }

textarea.form-control {
    height: auto;
    height: 164px;
}

.input-group-btn
{
    &.file
    {
        margin-bottom: 0;

        .btn
        {
            height: 100%;
            color: $white;
            background-color: rgba($default-color, .6);
            border-radius: .25rem 0 0 .25rem;
            line-height: 2.2;
            font-size: 14px;
            font-weight: 300;
            &:hover
            {
                background-color: rgba($default-color, 1);
                // font-weight: bold;
            }
        }
        .form-control {
            border: 1px solid #ced4da;
            &:focus
            {
                outline: none;
            }
        }
    }
}

.btn
{
    &.btn-title {
        color:$white !important;
        background-color: $default-color !important;
        border-color: $default-color !important;

        &:focus,
        &.focus {
            color: $white !important;
            background-color: darken($default-color, 10%) !important;
            border-color: darken($default-color, 25%) !important;
        }
        &:hover {
            color: $white !important;
            background-color: rgba($default-color, .5) !important;
            border-color: rgba($default-color, .5) !important;
            // opacity: 0.9;
        }
        &:active,
        &.active,
        .open > &.dropdown-toggle {
          color: $white !important;
          background-color: darken($default-color, 10%) !important;
          background-image: none !important;
          border-color: darken($default-color, 12%) !important;

          &:hover,
          &:focus,
          &.focus {
            color: $white !important;
            background-color: darken($default-color, 17%) !important;
            border-color: darken($default-color, 25%) !important;
          }
        }
        &.disabled,
        &[disabled],
        fieldset[disabled] & {
          &:hover,
          &:focus,
          &.focus {
            background-color: $default-color !important;
            border-color: $default-color !important;
          }
        }
      }

}


.form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group > input,
  .form-label-group > label,
  .input-group > input,
  .input-group > label {
    height: 3.125rem;
    padding: .75rem;
  }
  
  .form-label-group > label,
  .input-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #6b707f;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    z-index: 3;
    transition: all .1s ease-in-out;
    font-size: .9rem;
  }
  .form-label-group input::-webkit-input-placeholder,
  .form-label-group input:-ms-input-placeholder,
  .form-label-group input::-ms-input-placeholder,
  .form-label-group input::-moz-placeholder,
  .form-label-group input::placeholder,
  .form-label-group textarea::-webkit-input-placeholder,
  .form-label-group textarea:-ms-input-placeholder,
  .form-label-group textarea::-ms-input-placeholder,
  .form-label-group textarea::-moz-placeholder,
  .form-label-group textarea::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown),
  .form-label-group textarea:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
  }
  
  .form-label-group input:not(:placeholder-shown) ~ label,
  .form-label-group textarea:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
  }
  
  /* Fallback for Edge
  -------------------------------------------------- */
  @supports (-ms-ime-align: auto) {
    .form-label-group > label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder,
    .form-label-group textarea::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder, 
    .form-label-group textarea:-ms-input-placeholder {
      color: #777;
    }
  }