/*--------------------------------------------------------------
# form
--------------------------------------------------------------*/
// .btn-file {
//     position: relative;
//     overflow: hidden;
// }
// .btn-file input[type=file] {
//     position: absolute;
//     top: 0;
//     right: 0;
//     min-width: 100%;
//     min-height: 100%;
//     font-size: 100px;
//     text-align: right;
//     filter: alpha(opacity=0);
//     opacity: 0;
//     outline: none;
//     background: white;
//     cursor: inherit;
//     display: block;
// }

textarea.form-control {
    height: auto;
    height: 164px;
}

.input-group-btn
{
    &.file
    {
        margin-bottom: 0;

        .btn
        {
            height: 100%;
            color: $white;
            background-color: rgba($default-color, .6);
            border-radius: .25rem 0 0 .25rem;
            line-height: 2.2;
            font-size: 14px;
            font-weight: 300;
            &:hover
            {
                background-color: rgba($default-color, 1);
                // font-weight: bold;
            }
        }
        .form-control {
            border: 1px solid #ced4da;
            &:focus
            {
                outline: none;
            }
        }
    }
}


.btn
{
    &.btn-title {
        color:$white !important;
        background-color: $default-color !important;
        border-color: $default-color !important;

        &:focus,
        &.focus {
            color: $white !important;
            background-color: darken($default-color, 10%) !important;
            border-color: darken($default-color, 25%) !important;
        }
        &:hover {
            color: $white !important;
            background-color: rgba($default-color, .5) !important;
            border-color: rgba($default-color, .5) !important;
            // opacity: 0.9;
        }
        &:active,
        &.active,
        .open > &.dropdown-toggle {
          color: $white !important;
          background-color: darken($default-color, 10%) !important;
          background-image: none !important;
          border-color: darken($default-color, 12%) !important;

          &:hover,
          &:focus,
          &.focus {
            color: $white !important;
            background-color: darken($default-color, 17%) !important;
            border-color: darken($default-color, 25%) !important;
          }
        }
        &.disabled,
        &[disabled],
        fieldset[disabled] & {
          &:hover,
          &:focus,
          &.focus {
            background-color: $default-color !important;
            border-color: $default-color !important;
          }
        }
      }

}