/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  // background: darken($secondary, 46);
  background-color: $default-color;
  padding: 0 0 30px 0;
  color: $white;
  font-size: 14px;

  .copyright {
    border-top: 1px solid darken($secondary, 38);
    text-align: center;
    padding-top: 30px;
  }

  .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: $white;
  }

  @media (max-width: 575px) {
    .footer-top .footer-info {
      margin: -20px 0 30px 0;
    }
  }
}
