/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio
{
    padding-bottom: 0;
    // Extra small devices (portrait phones, less than 576px)
    @media (max-width: 575.98px) {
        padding-bottom: 0;
    }
    .portfolio-item
    {
        overflow: hidden;
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;

        img {
            transition: all ease-in-out 0.4s;
        }

        &:hover img {
            transform: scale(1.1);
        }
    }

    .portfolio-list
    {
        .item
        {
            // margin-bottom: 1rem;


            // Extra small devices (portrait phones, less than 576px)
            @media (max-width: 575.98px) {

                &:last-child {
                    .media-body
                    {
                        padding-bottom: 16px;
                        margin-bottom: 0;
                    }
                }

            }
            .icon,
            .title-icon
            {
                // opacity: 0.25;
                img {
                    height: 4.5rem;
                }
            }

            .media-body
            {
                padding-bottom: 32px;
                margin-bottom: 16px;
                position: relative;
                a
                {
                    color: currentColor;
                    &:hover,
                    &:hover *
                    {
                        text-decoration: none;
                        color: $default-color;
                    }
                }

                &:after
                {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background: currentColor;
                    -webkit-transition: 0.3s;
                    transition: 0.3s;
                }

                h4
                {
                    font-size: 2.25rem;
                }

                p 
                {
                    @media (min-width: 960px) {
                        width: 80%;
                    }
                }
            }

            &:hover
            {
                .media-body::after
                {
                    width: 100%;
                }
            }

            &.media
            {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;

                @media (min-width: 960px)
                {
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                }
                &.img-left
                {
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                    flex-direction: row;
                }
                .img
                {
                    > .icon
                    {
                        font-size: 4rem;
                        display: block;
                        width: 1em;
                        height: 1em;
                        line-height: 1;
                    }
                    .title-icon
                    {
                        font-size: 2.25rem;
                        font-weight: bold;
                        display: block;
                    }

                    img
                    {
                        // width: 4.5rem;
                        height: 4.5rem;
                    }
                }
            }

            .btn-underline
            {
                font-weight: bold;
                position: relative;
                border: none;
                background: none;
                position: relative;
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                padding: 0;
                color: darken($secondary, 36);
                
                &:before
                {
                    position: absolute;
                    left: 0;
                    bottom: 0em;
                    width: 00%;
                    height: 2px;
                    background: darken($secondary, 36);
                    content: "";
                    -webkit-transition: 0.15s;
                    transition: 0.15s;
                }
                &:after
                {
                    position: absolute;
                    left: auto;
                    right: 0;
                    bottom: 0em;
                    width: 100%;
                    height: 2px;
                    background: #ffffff;
                    content: "";
                    -webkit-transition: 0.6s;
                    transition: 0.6s;
                }

                &:focus,
                &:hover
                {
                    background: none;
                    border: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    .text
                    {
                        opacity: 0.5;
                    }
                    &:before
                    {
                        width: 100%;
                        -webkit-transition: 0.6s;
                        transition: 0.6s;
                    }
                    &:after
                    {
                        width: 00%;
                        -webkit-transition: 0.15s;
                        transition: 0.15s;
                    }
                }
            }
        }
    }

}

