/*--------------------------------------------------------------
# video
--------------------------------------------------------------*/
.video {
    padding: 1rem 0;
    background-color: #000000;
    position: relative;

    @media (max-width: 575.98px) {
        iframe {
            height: 230px;
        }
    }
}

