/*--------------------------------------------------------------
# Tipografia
--------------------------------------------------------------*/
html,
body {
    font-family: $font-family-sans-serif;
    color: $default;
}

a
{
    color: $primary;
    :hover 
    {
        color: lighten($primary, 10);
        text-decoration: none;
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
{
    // font-family: $font-primary;
    font-family: $font-family-serif;
}

h3, .h3
{
    // extra mobile
    @media (max-width: 320px) {
      font-size: 1.5rem;
    }
}

p
{
	&:last-child
	{
		// margin-bottom: 0;
	}
}

.doc_tag_title {
    margin-bottom: 35px;
    h4
    {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .line 
    {
        height: 2px;
        width: 100%;
        background: #e1e9eb;
        display: block;
    }
}
